<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Product Management</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sales</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Research and Development</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Business Development</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Engineering</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Human Resources</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Services</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Support</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Training</td>
    </tr>
  </tbody>
</table>