<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>name</th>
      <th>datetime</th>
      <th>department_id</th>
      <th>job_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Harold Vogt</td>
      <td>2021-11-07T02:48:42Z</td>
      <td>2.0</td>
      <td>96.0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Ty Hofer</td>
      <td>2021-05-30T05:43:46Z</td>
      <td>8.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lyman Hadye</td>
      <td>2021-09-01T23:27:38Z</td>
      <td>5.0</td>
      <td>52.0</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Lotti Crowthe</td>
      <td>2021-10-01T13:04:21Z</td>
      <td>12.0</td>
      <td>71.0</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Gretna Lording</td>
      <td>2021-10-10T22:22:17Z</td>
      <td>6.0</td>
      <td>80.0</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Marlow Antecki</td>
      <td>2021-04-23T23:45:42Z</td>
      <td>6.0</td>
      <td>95.0</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Joan Rillett</td>
      <td>2021-10-10T01:33:31Z</td>
      <td>9.0</td>
      <td>78.0</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Ulrick Nucciotti</td>
      <td>2021-07-24T01:28:40Z</td>
      <td>8.0</td>
      <td>169.0</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Lucretia Northcote</td>
      <td>2021-04-01T21:22:47Z</td>
      <td>9.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Arty Giacobo</td>
      <td>2022-02-08T12:27:07Z</td>
      <td>6.0</td>
      <td>62.0</td>
    </tr>
  </tbody>
</table>