<!DOCTYPE html>
<html>
  <head>
    <title> File Upload </title>
    <style>

    label, a {
      display: block;
      margin-top: 1rem;
    }

    input {
      margin-bottom: 1rem;
    }

    </style>
  </head>
  <body>
    <form method="post" action="" enctype="multipart/form-data">

      <label for="upload_file_form">Upload at the same time the following files:</label>
      <ul>
          <li>hired_employees.csv</li>
          <li>departments.csv</li>
          <li>jobs.csv</li>
      </ul>

      <input type="file" name="files" accept=".csv" capture multiple/>

      <p><input type="submit" value="Submit"></p>
    </form>

    <p>If instead, you want to load each record manually select the table you want to update</p>
    <a href="http://127.0.0.1:5000/per_record_upload/hired_employees">hired_employees table</a>
    <a href="http://127.0.0.1:5000/per_record_upload/departments">departments table</a>
    <a href="http://127.0.0.1:5000/per_record_upload/jobs">jobs table</a>
  </body>
</html>