<!DOCTYPE html>
<html>
<head>
<style>
    div {
        display: inline;
    }
</style>
</head>
<body>

    <h1>Welcome!</h1>

    <p>PREVIEW THE CURRENT RECORDS ON TABLES:    </p>
        <div> hired_employees: </div>
        {% include 'preview/hired_employees.html' %}
        <div> departments: </div>
        {% include 'preview/departments.html' %}
        <div> jobs: </div>
        {% include 'preview/jobs.html' %}

        <a href="http://127.0.0.1:5000/index/"> Please click here to proceed with the data ingestion via file upload </a>

        <div>
            <p>if you want to review the queries we have 2 options available</p>
            <ul>
                <li> Number of employees hired for each job and department in 2021 divided by quarter 
                    <a href="http://127.0.0.1:5000/query/quarters">click here to see results</a>    
                </li>
                <li> List of ids, name and number of employees hired of each department that hired more employees than the mean of employees hired in 2021 for all the departments
                    <a href="http://127.0.0.1:5000/query/mean">click here to see results</a>  
                </li>
            </ul>
        </div>


</body>
</html>